.section {
  flex: 1;
  margin: 50px 50px 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid rgb(255, 177, 68);
  border-radius: 10px;
  padding: 16px;
  height: 100%;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.date-container {
  background-color: rgba(255, 177, 68, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

.date-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.date-desc {
  font-size: 12px;
  color: rgb(97, 97, 97);
}

.date-text {
  font-size: 14px;
  color: black;
}

.non-desc-wrapper {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.non-desc {
  font-size: 18px;
  font-weight: 600;
  color: rgb(97, 97, 97);
}
