.header {
  width: 100vw;
  height: 10vh;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
