.section {
  flex: 1;
  margin: 50px 0px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: end;
}

.todo-list-container {
  /* TODO :: 삭제 예정 */
  border: 1px solid #ccc;
}
